.container {
   height: 100%;
   width: 100%;
   min-height: 100vh;
   padding: 94px 165px;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (min-width: 426px) and (max-width: 768px) {
      padding: 56px 114px;
   }

   @media (max-width: 425px) {
      padding: 48px 24px;
   }
}

.wrapper {
   height: 745px;
   width: 540px;
   display: flex;
   flex-direction: column;
   gap: 40px;

   @media (max-width: 425px) {
      width: auto;
      min-width: 327px;
      min-height: 893px;
   }
}

.goBack {
   display: flex;
   align-items: center;
   gap: 16px;
   color: var(--glaucous);

   &:hover {
      text-decoration: underline;
   }
}

.form {
   height: 100%;
   width: 100%;
   position: relative;

   padding-inline: 46px;
   padding-top: 52px;
   padding-bottom: 40px;
   background-color: var(--white);
   border-radius: 10px;

   @media (max-width: 425px) {
      height: auto;
      padding-inline: 24px;
   }
}

.plusIcon {
   position: absolute;
   top: -28px;
   left: 28px;
   padding: 15px;
   border-radius: 50%;
   background-image: url("../../assets/suggestions/desktop/background-header.png");
   background-size: cover;
   background-position: center;
}

.label {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.title,
.labelTitle {
   color: var(--marian-blue);
}

.labelTxt {
   font-size: 14px;
   color: var(--glaucous);
}

input,
select,
textarea,
.titleInput {
   background-color: var(--background-card);
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 5px 10px;
   font-size: 15px;
}


// form {
//    margin-top: 40px;
//    display: flex;
//    gap: 24px;
//    flex-direction: column;
// }

// button[type="button"] {
//    background-color: var(--marian-blue);
//    color: var(--white);
//    border-radius: 10px;
//    padding: 12.5px 24px;
//    margin-top: 32px;
//    margin-left: auto;
// }

// button[type="submit"] {
//    background-color: var(--veronica);
//    color: var(--white);
//    border-radius: 10px;
//    padding: 12.5px 24px;
//    margin-top: 32px;
//    margin-left: 16px;
// }