.container {
   padding-top: 80px;
   margin-inline: auto;
   display: flex;
   width: 825px;
   min-height: 100svh;
   flex-direction: column;
   padding-bottom: 130px;

   @media (min-width: 425px) and (max-width: 768px) {
      margin: auto;
      padding: 56px 39px;
      width: auto;
   }
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 24px;
}

.comments_w {
   background-color: var(--white);
   border-radius: 10px;
   padding: 24px 34px;
}

.commentsNumber {
   margin-bottom: 28px;
   color: var(--marian-blue);
}

.edit {
   padding: 12.5px 24px;
   border-radius: 10px;
   background-color: var(--savoy-blue);


   h4 {
      letter-spacing: 0;
      color: var(--background-card);
   }

   &:hover {
      background-color: rgb(124, 145, 249);
   }
}

.goback {
   display: flex;
   align-items: center;
   gap: 16px;
   height: fit-content;

   // FIX THIS
   img {
      height: 100%;
   }

   &:hover {
      text-decoration: underline;
   }

   @media (max-width: 425px) {
      font-size: 14px;
   }
}