.label {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.title,
.labelTitle {
   color: var(--marian-blue);
}

.labelTxt {
   font-size: 14px;
   color: var(--glaucous);
}


.titleInput {
   background-color: var(--background-body);
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 13px 24px;
   font-size: 15px;
}


form {
   margin-top: 40px;
   display: flex;
   gap: 24px;
   flex-direction: column;
}

.buttons {
   display: flex;
   justify-content: flex-end;
}

.cancel,
.submit,
.delete {
   color: var(--white);
   border-radius: 10px;
   padding: 12.5px 24px;
   margin-top: 32px;

   h4 {
      letter-spacing: 0;
   }
}

.cancel {
   background-color: var(--marian-blue);
   margin-right: 0;

   &:hover {
      background-color: rgb(101, 110, 163)
   }
}

.submit {
   background-color: var(--veronica);
   margin-right: 0;
   margin-left: 16px;

   &:hover {
      background-color: rgb(199, 90, 246)
   }
}